.app{
  width:100vw;
  height:100vh;
  display: flex;
}

.box{
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: black;
  border: 5px solid red;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
button{
  padding: 10px 10px ;
  color: white;
  border: none;
  margin-left: 10px;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
